# Check if localized directory names exist
test -f ${XDG_CONFIG_HOME:-~/.config}/user-dirs.dirs && source ${XDG_CONFIG_HOME:-~/.config}/user-dirs.dirs

# Use localized pictures directory like: echo ${XDG_PICTURES_DIR:-$HOME}
# or check in terminal with command:  xdg-user-dir PICTURES


# Set local images storage location (fetched and composite) # tmpfs for temporary images?
STOREPATH="${XDG_PICTURES_DIR:-$HOME}"
STOREIMAGE="$STOREPATH/LiveWB.jpg"

# Detection of maximized windows
# If there is any maximized window, the background will not update.
# To make the background update even if there is a maximized window, comment the next line.
DETECTMAXIMIZED="yes"

# Automatic recognition of area. Syntax: "yes" | "no"
# "yes" - automatic country recognition
#	  If it fails to get a country, it falls-back to manual selection.
# To manually select country or area, from the AREA setting bellow, comment the next line
#AUTOAREA="yes"

# Use the two letter country code or any short name, for the right configuration file.
# Examples:
#   for AREA="gr" the config file "gr.config" will be used.
#   for AREA="Balkans" the config file "Balkans.config" will be used 
# You may contribute your composition xx.config file at LiveWB's development site at github.com/skarmoutsosv
# Valid strings so far are:
#  gr (Greece)
#  de (Germany)
#  fr (France)
#  it (Italy)
#  es (Spain)
#  pt (Portugal)
#  uk (United Kingdom)
#  ir (Ireland)
#  cy (Cyprus)
#  europe
#  eg (Egypt) #under construction
AREA="europe" 

# TROUBLESHOOTING
# If the area you are getting is different than the one you set at AREA, then probably you should set AUTOAREA="no".

