# ################ TEMPLATE FILE (template.config) ################
# Copy this file inside the config directory and then
# rename the copied file to xx.config where xx is the AREA name you have configured in LiveWB.config
#
# ######## SELECTING IMAGES ########
# Select images from http://oiswww.eumetsat.org/IPPS/html/latestImages.html
# Hint: RGB Composite E-view segments
#  Segment 1: Canary Islands
#  Segment 2: Iceland
#  Segment 3: North Atlandic Ocean
#  Segment 4: Great Britain, Ireland, Belgium, Holland, Luxemburg
#  Segment 5: Spain, Portugal
#  Segment 6: France
#  Segment 7: Denmark, Norway, Sweden, Finland, Esthonia, Letonia, Lithouania, Russia (Kalinigrand)
#  Segment 8: Maroko
#  Segment 9: Algeria, Tynisia
#  Segment 10: Libyi
#  Segment 11: Egypt
#  Segment 12: Syria, Libanon, Israel, Jordan
#  Segment 13: South Russia (Krasnodar)
#  Segment 14: Italy, Slovenia, Croatia, Vosnia-Hergegovini, Albania, Serbia, FYR Macedonia
#  Segment 15: Germany, Switcherland, Austria, Tsechia, Slovakia, Poland
#  Segment 16: Belarus, Ukrain, Russia, Moldavia, Romania
#  Segment 17: Greece, Albania, FYR Macedonia, Bulgaria, Serbia, Romania, Moldavia
#  Segment 18: Turkey, Georgia, Cyprus
# Paste the selected links in the corresponding GETIMAGE variables.
#
# ######## SETTING POSITIONS ########
# Set image position distance with regard to DIMENSIONS setting, from topleft.
# The format is SignNumberSignNumber where Sign is "+" or "-" and Number is an integer in pixels. 
# Hint 1:
#  You can use GIMP to find a nice looking arrangement.
#  First create an empty image file with dimensions as shown in the variable DIMENSIONS.
#  Then paste as layers the three images you have selected.
#  Move the images as you like and when you finilize their positions 
#  view their pixel properties and do some simple math.
# Hint 2: 
#  Default overlay order (floor to ceiling) is img1, img2, img3, legend, info.
#  Keep in mind that:
# "Channels" images (IR, VIS, WV) update every 1h
# "RGB Composites" images update every 1h
# "Visualised Products" (AMV) updates every 1h
# "Visualised Products" (MPE, FIR, CLM, CTH) update every 15min
# "Visualised Products" (CLA, CLAI) update every 3h
#
# ######## SETING THE TEXT POSITION ########
# Set the position of the text.
#
# ######## CLEANING THE NEW FILE ########
# Delete the current and all the above comment lines from the new file.


# You can create a new xx.config file by using template.config file
# which includes some hints, or by copying any xx.config file.

# Final LiveWB composite image dimensions
DIMENSIONS="1680x980"

GETIMAGE1=""
POSITION1="+0+0"

GETIMAGE2=""
POSITION2="+100+0"

GETIMAGE3="" 
POSITION3="+50+100"

# Valid strings are: "north", "south", "east", "west", "northeast", "northwest", "southeast", "southwest".
INFOPLACE="south"

# Valid strings are: "MPEBar.jpg", "AMVBar.jpg", "CLMBar.jpg" "CTHBar.jpg", "FIRBar.jpg", "CLATCDCBar.jpg",
# "CLAHCDCBar.jpg", "CLALCDCBar.jpg" and "CLAMCDCBar.jpg".
# The above files are downloaded from EUMETSAT once, and stored locally at in LWB/legend/ directory.
LEGENDNAME=""
LEGENDPOSITION="+0+0"

