# You can create a new xx.config file by using template.config file
# which includes some hints, or by copying any xx.config file.

# Final LiveWB composite image dimensions
DIMENSIONS="1680x980"

GETIMAGE1="http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_IR108Color_EasternEurope.jpg" 
POSITION1="+500+176"

GETIMAGE2="http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_MPE_EasternEurope.png"
POSITION2="-320+176"

GETIMAGE3="http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_RGBEView_segment18.jpg"
POSITION3="+546-170"

# Valid strings are: "north", "south", "east", "west", "northeast", "northwest", "southeast", "southwest".
INFOPLACE="northwest"

# Valid strings are filenames in LWB/legend/ directory
LEGENDNAME="MPEBar.jpg"
LEGENDPOSITION="+0+931"
