# You can create a new xx.config file by using template.config file
# which includes some hints, or by copying any xx.config file.

# Final LiveWB composite image dimensions
DIMENSIONS="1679x913"

GETIMAGE1="http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_MPE-centralEurope.jpg"
POSITION1="+0+168"

GETIMAGE2="http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_RGB-12-12-9i-segment15.jpg"
POSITION2="+1054+377"

GETIMAGE3="http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_IR108EColor-centralEurope.jpg" 
POSITION3="+1111+8"

# Valid strings are: "north", "south", "east", "west", "northeast", "northwest", "southeast", "southwest".
INFOPLACE="north"

# Valid strings are filenames in LWB/legend/ directory
LEGENDNAME="MPEBar.jpg"
LEGENDPOSITION="+0+119"
