# You can create a new xx.config file by using template.config file
# which includes some hints, or by copying any xx.config file.

# Final LiveWB composite image dimensions
DIMENSIONS="1680x980"

GETIMAGE1="http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_MPE_CentralEurope.png"
POSITION1="+0+235"

GETIMAGE2="http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_IR108Color_WesternEurope.jpg" 
POSITION2="+490+0"

GETIMAGE3="http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_RGBEView_segment5.jpg"
POSITION3="-150-30"

# Valid strings are: "north", "south", "east", "west", "northeast", "northwest", "southeast", "southwest".
INFOPLACE="northeast"

# Valid strings are filenames in LWB/legend/ directory
LEGENDNAME="MPEBar.jpg"
LEGENDPOSITION="+250+930"
