# You can create a new xx.config file by using template.config file
# which includes some hints, or by copying any xx.config file.

# Final LiveWB composite image dimensions
DIMENSIONS="1680x892"

GETIMAGE1="http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_MPE_WesternEurope.png"
POSITION1="-160+0"

GETIMAGE2="http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_MPE_EasternEurope.png"
POSITION2="+848+30"

#GETIMAGE3="http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_IR108Color_CentralEurope.jpg" 
#POSITION3="+1169+0"

# Valid strings are: "north", "south", "east", "west", "northeast", "northwest", "southeast", "southwest".
INFOPLACE="northeast"

# Valid strings are filenames in LWB/legend/ directory
LEGENDNAME="MPEBar.jpg"
LEGENDPOSITION="+1200+838"
