# You can create a new xx.config file by using template.config file
# which includes some hints, or by copying any xx.config file.

# Final LiveWB composite image dimensions
DIMENSIONS="1679x980"

GETIMAGE1="http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_MPE_WesternEurope.png"
POSITION1="+490+0"

GETIMAGE2="http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_IR108Color_CentralEurope.jpg" 
POSITION2="+0+240"

GETIMAGE3="http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_RGBEView_segment6.jpg"
POSITION3="-193-69"

# Valid strings are: "north", "south", "east", "west", "northeast", "northwest", "southeast", "southwest".
INFOPLACE="north"

# Valid strings are filenames in LWB/legend/ directory
LEGENDNAME="MPEBar.jpg"
LEGENDPOSITION="+1283+805"
