# You can create a new xx.config file by using template.config file
# which includes some hints, or by copying any xx.config file.

# Final LiveWB composite image dimensions
DIMENSIONS="728x599"

GETIMAGE1="http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MTP_IR115Color-indonesia.jpg"
POSITION1="+0+0"

GETIMAGE2="http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MTP_MPE-indonesia.png" 
POSITION2="+364+0"

#GETIMAGE3=""
#POSITION3="+0+0"

INFOPLACE="northwest"

LEGENDNAME="MPEBar.jpg"
LEGENDPOSITION="+330+0"

