# You can create a new xx.config file by using template.config file
# which includes some hints, or by copying any xx.config file.

# Final LiveWB composite image dimensions
DIMENSIONS="1460x960"

GETIMAGE1="http://www.ssd.noaa.gov/goes/comp/ceus/ft.jpg"
POSITION1="+370+0"

GETIMAGE2="http://www.ssd.noaa.gov/goes/west/weus/ir4.jpg" 
POSITION2="+0+480"

GETIMAGE3="http://www.ssd.noaa.gov/goes/east/eaus/ir4.jpg"
POSITION3="+740+480"

# Valid strings are: "north", "south", "east", "west", "northeast", "northwest", "southeast", "southwest".
INFOPLACE="northeast"

# Valid strings are filenames in LWB/legend/ directory
LEGENDNAME=""
LEGENDPOSITION="+0+0"

