# You can create a new xx.config file by using template.config file
# which includes some hints, or by copying any xx.config file.

# Final LiveWB composite image dimensions
DIMENSIONS="1160x990"

GETIMAGE1="http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MTP_VIS007Color_NorthernAsia.jpg"
POSITION1="+0+426"

GETIMAGE2="http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MTP_IR115Color_NorthernAsia.jpg"
POSITION2="+0-65"

#GETIMAGE3="http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MTP_MPE_NorthernAsia.png" 
#POSITION3="+0+409"

INFOPLACE="northeast"

LEGENDNAME=""
LEGENDPOSITION="+0+0"

